.logo {
  height: 70px;
  width: 70px;
  display: block;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header ul {
  width: 80%;
}

.buttons {
  width: 20%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #fff;
  width: 100vw;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

header .container {
  display: flex;
}

header ul {
  display: flex;
  list-style: none;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

header ul li {
  cursor: pointer;
}

.cart-btn {
  position: relative;
}

.cart {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

.cart-number {
  background-color: #ff8b13;
  color: white;
  position: absolute;
  right: -10px;
  top: -10px;
  height: 20px;
  width: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
}

.header-button {
  cursor: pointer;
  font-size: 22px;
}

@media (max-width: 480px) {
  header ul,
  .buttons {
    display: none;
  }
}
